body {
    background-color: sandybrown;
    text-align: center;
}

.button {
    background-color: orange;
    border: none;
    margin-left: 20px;
    margin-bottom: 10px;
    color: indigo;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

header {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: blue;
}

ul {
    list-style: none;
}